h1 {
  font-size: 36px;
  line-height: 46px;
  font-family: sans-serif;
  color: white;
}

p {
  font-size: 15px;
  line-height: 24px;
  font-family: sans-serif;
  color: white;
}
/* 메뉴바 */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

nav {
  width: 60%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb_menu {
  color: black;
  cursor: pointer;
  position: relative;
}

.gnb_menu::before {
  position: absolute;
  left: -1px;
  bottom: 20px;
  width: calc(100% + 2px);
  height: 2px;
  background-color: #1ec545;
}

#snb1,
#snb2,
#snb3,
#snb4,
#snb5,
#snb6 {
  background-color: #02c759;
  color: red;
  width: 100%;
  height: 276px;
  display: none;
}
/* 슬라이더 */
.slide_container {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  position: relative;
  padding: 80px 0 0;
}

.myslide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.myslide:first-child {
  display: block;
}

.button_prev {
  position: absolute;
  bottom: 198px;
  left: 85px;
  color: white;
  width: 46px;
  height: 46px;
  background-image: url(../img/naver/sprite.png);
  background-size: 474px 1250px;
  background-position: -296px -99px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.button_prev:hover {
  opacity: 1;
}

.button_next {
  position: absolute;
  bottom: 198px;
  right: 85px;
  color: white;
  width: 46px;
  height: 46px;
  background-image: url(../img/naver/sprite.png);
  background-size: 474px 1250px;
  background-position: -346px -99px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.button_next:hover {
  opacity: 1;
}

.myslide_bg {
  background-image: url(../img/naver/slide1.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 150px;
}

.myslide_bg_2 {
  background-image: url(../img/naver/slide2.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 150px;
}

.myslide_bg_3 {
  background-image: url(../img/naver/slide3.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 150px;
}

.myslide_bg_4 {
  background-image: url(../img/naver/slide4.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 150px;
}

.content_wrap {
  position: absolute;
  bottom: 190px;
  left: 160px;
}

.content_wrap h1 {
  margin-bottom: 40px;
}

.hr_bg {
  border-top: 1px solid;
  height: 1px;
  width: calc(100% - 320px);
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 221px;
  left: 160px;
}

.hr_bar {
  width: 25%;
  height: 1px;
  color: rgba(255, 255, 255, 1);
  border-top: 1px solid;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.content_wrap p {
  margin-bottom: 40px;
}

.slide_num {
  width: auto;
  height: auto;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: 100px;
  left: 160px;
}

.slide_logo1 {
  width: 190px;
  height: 36px;
  position: absolute;
  bottom: 78px;
  right: 190px;
  background-image: url(../img/naver/sprite.png);
  background-position: 0px -1063px;
}

.slide_logo2 {
  width: 190px;
  height: 53px;
  position: absolute;
  bottom: 60px;
  right: 190px;
  background-image: url(../img/naver/sprite.png);
  background-position: -143px -1101px;
}

.slide_logo3 {
  width: 134px;
  height: 50px;
  position: absolute;
  bottom: 70px;
  right: 190px;
  background-image: url(../img/naver/sprite.png);
  background-position: 0 -1104px;
}

.slide_logo4 {
  width: 168px;
  height: 24px;
  position: absolute;
  bottom: 78px;
  right: 190px;
  background-image: url(../img/naver/sprite.png);
  background-position: -192px -1162px;
}
